#board-cell {
  height: 45px;

  &:first-child {
    border-left: 1px solid #545454;
  }
  border-bottom: 1px solid #545454;
  border-right: 1px solid #545454;

  &.is-first-row {
    border-top: 1px solid #545454;
  }
}
